{% import '_macros/atoms' as render %}

{%- switch name -%}
    {%- case "Research School Foundation" -%}
        {%- set color = 'red' -%}
    {%- case "Education Endowment Foundation" -%}
        {%- set color = 'orange' -%}
    {%- case "Harding Hub" -%}
        {%- set color = 'purple' -%}
    {%- case "Percipio Global" -%}
        {%- set color = 'teal' -%}
    {%- case "National Tutoring Programme" -%}
        {%- set color = 'blue' -%}
    {%- case "The Sutton Trust" -%}
        {%- set color = 'blue' -%}
    {% default %}
        {%- set color = 'gray' -%}
{%- endswitch -%}

{%- minify -%}
    <div class="my-12 px-4 lg:px-0 lg:mx-16 xl:x-32">
        <div class="px-4 mr-2 md:px-4">
            <div class="border-b-2 border-{{- color -}}-800">
                <div class="font-mono mb-4 my-4">
                    {{- render.atom('text', 'content', { content: block.quoteHeader }) -}}
                </div>
                <div class="pb-5 text-lg text-green-900 leading-relaxed">
                    {{- render.atom('text', 'content', { content: block.quoteBody }) -}}
                </div>
            </div>
        </div>
    </div>
{%- endminify -%}