{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- set props = {
    authors: authors ??? null,
    categories: categories ??? null,
    postDate: postDate ??? null,
} -%}

<p class="my-2 font-mono text-base tracking-tighter text-gray-600">

    <strong class="font-normal text-blue-500">
        Blog ( category function )
    </strong> 
    by 
    <strong class="font-normal text-blue-500">
        Stuart Byford ( author function )
    </strong> 
    on the 
    <time datetime="{{ props.postDate|date('c')}}">{{ props.postDate|date('jS F Y')}}</time>

</p>