{%- minify -%}

    {% set featured = hasFeatured ?? null %}
    {% set cardsType = type ?? 'default' %}

    {%- switch cardsType -%}

        {%- case 'content' -%}
            {%- set cards = content.cards.all() -%}

        {% default %}
            {%- set cards = content -%}

    {%- endswitch -%}

    <div class="print:hidden md:grid grid-cols-2 lg:grid-cols-3 gap-8 my-16">

        {%- for card in cards -%}

            {%- if loop.index == 1 and featured -%}

                {%- include '_molecules/cards/card--featured' ignore missing with {
                    content: card,
                } -%}

            {%- else -%}

                {%- include '_molecules/cards/card--highlight' ignore missing with {
                    content: card,
                } -%}

            {%- endif -%}

        {%- endfor -%}

    </div>

{%- endminify -%}