{%- set limit = limit ??? null -%}

{%- set services = craft.entries.section('services')
    .with(['teaserImage'])
    .orderBy('title asc')
    .limit(limit)
    .all() -%}

<section class="my-16">

        <div class="flex flex-no-wrap">

            {% for service in services %}

                {%- include '_molecules/cards/card--service' ignore missing with {
                    service: service,
                    sizes: ['20vw'],
                    utilities: 'w-1/5',
                } -%}

            {% endfor %}

        </div>

</section>
