{%- set spacing = spacing ??? 'mt-4 md:mt-10 mb-12 md:mb-16' %}

{%- set blogs = blogs ??? craft.entries.section('vacancies')
    .orderBy('postDate desc')
    .all() 
-%}

{%- minify -%}

    <div class="w-full {{ spacing -}}">
        {%- for blog in blogs -%}
            {%- include '_molecules/cards/card--vacancy' ignore missing with {
                content: blog
            } -%}
        {%- endfor -%}
    </div>


{%- endminify -%}
