{%- set exclude = exclude ??? null -%}
{%- set authors = authors ??? '*' -%}
{%- set limit = limit ??? null -%}

{%- set blogs = blogs ??? craft.entries.section('blog')
    .with(['teaserImage', 'blogCategories', 'authors', 'authors.teaserImage'])
    .id(['not', exclude ? content.id : null])
    .orderBy('postDate desc')
    .limit(limit)
    .all() 
-%}

{%- minify -%}

    <div class="w-full my-12 md:my-24">
        {%- for blog in blogs -%}
            {%- include '_molecules/cards/card--blog' ignore missing with {
                content: blog
            } -%}
        {%- endfor -%}
    </div>


{%- endminify -%}
