{%- set spacing = spacing ??? 8 -%}
{%- set margin = margin ??? "" -%}
{%- set limit = limit ??? null -%}

{%- set projects = craft.entries.section('work')
    .orderBy('postDate desc')
    .with(['teaserImage', 'projectCategories', 'clients'])
    .limit(limit)
    .all() -%}

{%- minify -%}
    <div class="w-full {{ margin -}}">
        <div class="grid grid-cols-8 gap-{{- spacing -}}">
            {%- for card in projects -%}
                {%- include '_molecules/cards/card--project' ignore missing with {
                    content: card,
                    size: 'large',
                    utilities: 'col-span-8',
                } -%}
            {%- endfor -%}
        </div>
    </div>
{%- endminify -%}
