{%- minify -%}

    {% set showVacantiesCta = showVacantiesCta ?? false %}
    {% set cardsType = type ?? 'default' %}

    {%- switch cardsType -%}

        {%- case 'content' -%}
            {%- set cards = content.cards.all() -%}

        {% default %}
            {%- set cards = content -%}

    {%- endswitch -%}

    <div class="print:hidden md:grid grid-cols-6 gap-8 my-16">
        {%- for card in cards -%}
            {%- include '_molecules/cards/card--highlight' ignore missing with {
                content: card,
                width: "col-span-3 lg:col-span-2"
            } -%}

        {%- endfor -%}

        {%- if showVacantiesCta -%}
            {%- include '_molecules/cards/card--cta' ignore missing with {
                content: callToActionVacancies,
                width: "col-span-3 lg:col-span-2"
            } -%}
        {%- endif -%}
    </div>



{%- endminify -%}
