{%- minify -%}
    {% switch content.cards[0].type %}
        {% case 'blog' %}
            {%- include '_organisms/cards/cards--blog' ignore missing with {
                content: content.cards,
            } -%}
        {% default %}

            <div class="mx-auto my-12 md:my-32">
                <section class="container mx-auto max-w-screen-lg">
                    <div class="flex flex-wrap -mx-8">
                        {%- for card in content.cards -%}
                            {% switch card.type %}
                                {% case 'projects' %}
                                    {%- include '_molecules/cards/card--project' ignore missing with {
                                        content: card,
                                        sizes: ['50vw'],
                                        utilities: 'w-full lg:w-1/2 px-8 mb-8',
                                    } -%}
                            {% endswitch %}
                        {%- endfor -%}
                    </div>
                </section>
            </div>

        {% endswitch %}
{%- endminify -%}
