{%- minify -%}

<div class="my-12 md:my-24">
    <div class="grid grid-cols-8 gap-8 ">
        {%- for card in content -%}
            {%- include '_molecules/cards/card--project' ignore missing with {
                content: card,
                size: loop.first ? 'large' : 'small',
                utilities: loop.first ? 'col-span-8' : 'col-span-8 lg:col-span-4',
            } -%}
        {%- endfor -%}
    </div>
</div>


{%- endminify -%}
