{% import '_macros/atoms' as render %}

{%- set doormat = craft.globalSets()
    .handle('doormat')
    .with(['buttons'])
    .one()
-%}
{% if doormat.heading %}
    <section class="py-12">
        <div class="container mx-auto max-w-screen-lg">
            {{- render.atom('text', 'overline', {
                    content: doormat.overline,
                    utilities: 'text-' ~ swatch.primary ~ ' mb-4 font-mono',
                })
            -}}

            <h2 class="font-primary text-5xl font-bold mb-8 max-w-2xl">
                {{- render.atom('text', 'title', { content: doormat.heading }) -}}
            </h2>
            
            {% if doormat.article %}
                <div class="max-w-2xl prose prose-lg mt-12">
                    {{- render.atom('text', 'content', { content: doormat.article }) -}}
                </div>
            {% endif %}

            {% if doormat.buttons|length > 0 %}

                {{- render.atom('button', 'group', {

                    buttons: doormat.buttons,
                    type: 'primary',
                    utilities: 'mt-12 space-x-4',
                    gaCategory: 'doormat-cta',
                    gaAction: 'click',
                    swatch: swatch,
                    inverted: true,
                    
                }) -}}

            {% endif %}
        </div>
    </section>
{% endif %}
