{% import '_macros/atoms' as render %}

{%- set clients = organisationInfo.partners.with(['logo']).all() ?? null -%}
<section class="bg-gray-100 py-16 px-8">
    <div class="container max-w-screen-xl mx-auto">
        <div class="flex flex-wrap lg:flex-no-wrap justify-between w-full">
            {%- for client in clients -%}
                {{- render.atom('image', 'partner', {
                    image: client.logo[0] ?? null,
                    url: client.target,
                    alt: client.description|striptags,
                    placeholders: placeholders,
                    utilities: 'block relative h-20 py-4 px-4 w-1/2 md:w-1/3 lg:w-1/6 focus:outline-none',
                    imageUtilities: 'object-contain h-full mx-0 md:mx-auto',
                    sizes: ['25vw']
                }) -}}
            {%- endfor -%}
        </div>
    </div>
</section>
