{%- minify -%}

	<div class="my-16">
        <div class="container mx-auto max-w-screen-lg">
            <pre class="line-numbers font-mono">
                <code class="{{- 'language-' ~ content.codeLanguage -}}" v-pre>
                    {{- content.code -}}
                </code>
            </pre>
        </div>
    </div>

{%- endminify -%}
