{% extends "_boilerplate/_layouts/generic-page-layout.twig" %}

{%- set projects = craft.entries.section('work')
    .orderBy('postDate desc')
    .with(['teaserImage','projectCategories','clients'])
    .limit(3)
    .all()
-%}

{% block headLinks %}
    {{ parent() }}
    <link rel="amphtml" href="{{ siteUrl('/amp') }}">
{% endblock headLinks %}

{% block content %}
    {%- include '_organisms/builders/hero--builder' with {
        content: entry,
    } -%}

    {%- include '_organisms/builders/page--builder' with {
        content: entry,
    } -%}
{% endblock %}

{% block subcontent %}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
