{% import '_macros/atoms' as render %}

{%- minify -%}
<div class="my-16">
	<section class="container mx-auto max-w-screen-lg">

		{%- for resource in content.resources -%}

			{%- include '_molecules/lists/listitem--resource' ignore missing with {
            content: resource,
        } -%}

		{%- endfor -%}

	</section>
</div>
{%- endminify -%}
