{%- set services = craft.entries.section('services')
    .with(['teaserImage', 'contentBuilder'])
    .orderBy('title asc')
    .all() -%}

<section class="mt-16 mb-32">

    <div class="container mx-auto">

            {% for service in services %}

                {%- include '_molecules/listitems/listitem--service' ignore missing with { 
                    service: service,
                    sizes: ['45vw'],
                    utilities: '',
                } -%}

            {% endfor %}

    </div>

</section>