{%- import '_macros/atoms' as render -%}

{%- set currentFilter = filter ??? null -%}

{%- minify -%}

    <div class="flex items-center space-x-16">
        {{- render.atom('filter', 'project', {
                ariaLabel: 'All project filter',
                current: currentFilter,
                filter: {
                    label: 'All',
                    slug: 'all'
                },
                ga: {
                    category: 'project-filter',
                    action: 'click',
                    label: 'Project filter'
                }
            })
        -}}

        {{- render.atom('filter', 'project', {
                ariaLabel: 'Development project filter',
                current: currentFilter,
                filter: {
                    label: 'Development',
                    slug: 'development'
                },
                ga: {
                    category: 'project-filter',
                    action: 'click',
                    label: 'Project filter'
                }
            })
        -}}

        {{- render.atom('filter', 'project', {
                ariaLabel: 'Design project filter',
                current: currentFilter,
                filter: {
                    label: 'Design',
                    slug: 'design'
                },
                ga: {
                    category: 'project-filter',
                    action: 'click',
                    label: 'Project filter'
                }
            })
        -}}
    </div>

{%- endminify -%}