{%- set params = {
        section: 'handbook'
    } 
-%}

{%- set prev = entry.getPrev(params) -%}
{%- set next = entry.getNext(params) -%}

{%- if prev -%}
    <a href="{{prev.title}}">{{prev.title}}</a>
{%- endif -%}

{%- if next -%}
    <a href="{{next.title}}">{{next.title}}</a>
{%- endif -%}