{%- import '_macros/atoms' as render -%}

{%- set utilities = utilities|default('') -%}
{%- set buttons = buttons|default([]) -%}
{%- set ga = ga|default({}) -%}

{%- minify -%}
    <div class="mt-11 {{ utilities -}}">
        {%- for button in buttons -%}

            {%- set type = loop.first ? 'primary' : 'secondary' -%}

            {{- render.atom('button', type, {
                url: button.target.getUrl() ??? null,
                text: button.target.getText() ??? null,
                target: button.target.getTarget() ??? '_self',
                ga: {
                    category: ga.category ??? null,
                    action: ga.action ??? null,
                    label: button.target.getUrl() ??? null,
                },
                utilities: 'my-2 md:my-0 ' ~ (not loop.last ? 'mr-2' : '')
            }) -}}

        {%- endfor -%}
    </div>
{%- endminify -%}
