{%- import '_macros/atoms' as render -%}

{%- minify -%}
    <div class="container mx-auto xxl:px-0 {{ content.position == 'center' ? 'max-w-screen-lg' : '' }}">

        <div class="mx-auto my-12 md:my-24 {{ content.position == 'full' ? '-mx-4 md:-mx-32' : '' }}">

            {{- render.atom('image', 'article', {
                    image: content.image[0],
                    alt: content.image[0].title,
                    ratio: content.ratio,
                    caption: content.caption ?? content.image[0].caption,
                    author: content.image[0].author ?? "",
                    source: content.image[0].source ?? "",
                    placeholders: placeholders,
                    swatch: swatch,
                })
            -}}

        </div>

    </div>
{%- endminify -%}
