{% import '_macros/atoms' as render %}

<div class="flex-col w-full lg:w-{{- width }}">
    <div class="h-full  flex flex-col items-start">

        <div class="mb-8 flex-grow text-left">
            {%- switch type -%}
                {%- case "location" -%}
                    {%- include "_molecules/content/content--location" with { 
                            content: {
                                title: 'Where are we',
                                locations: [
                                    'London, UK - Head Office',
                                    'Amsterdam, Netherlands',
                                    'Berlin, Germany',
                                    'Brussels, Belgium',
                                    'Paris, France'
                                ]
                            }
                        } 
                    -%}
                {%- case "subscribe" -%}
                    {%- include "_molecules/forms/form--subscribe" -%}
                {%- case "contact" -%}
                    {%- include "_molecules/content/content--contact" -%}
            {%- endswitch -%}
        </div>
    </div>
</div>
