{% import '_macros/atoms' as render %}

{%- minify -%}

        <div class="w-full my-16">

            <div class="container mx-auto px-8 xxl:px-0 max-w-screen-lg">
                <div class="prose {{ prose ? prose : '' }}">
                    {{- render.atom('text', 'content', { content: content.article }) -}}
                </div>
            </div>
        
        </div>

{%- endminify -%}
