{%- extends '_molecules/cards/_content--props' -%}
{%- import '_macros/atoms' as render -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/content/_content--props.twig`

    ### COMPONENTS ###
    ------------------

    ## MOLECULES

    text--standfirst: `_atoms/texts/text--standfirst.twig`
#}

{%- minify -%}
    <div class="container max-w-screen-lg mx-auto {{ props.utilities -}}">

        {{- render.atom('text', 'standfirst', {
            content: props.content.standfirst,
            alignment: props.content.alignment == 'center' ? 'md:text-center' : ''
        }) -}}

    </div>
{%- endminify -%}
