{% import '_macros/atoms' as render %}

{% if entry.type == "homepage" %}
	{% do craft.eagerBeaver.eagerLoadElements(entry, [
        'heroBuilder',
        ])
    %}
{% endif %}

{%- set homeHero = entry.type == "homepage" ? entry.heroBuilder : craft.entries().slug('homepage').with(['heroBuilder']).one().heroBuilder -%}
{%- set catchphrase = homeHero[0].type == "heroMain" ? homeHero[0].heading : "" %}

<span class="mb-8 text-4xl font-bold">
	{{- render.atom('text', 'title', { content: catchphrase }) -}}
</span>
