{% import '_macros/atoms' as render %}

<span class="font-primary text-3xl text-white">
	{{- render.atom('text', 'title', { content: content.title }) -}}
</span>

<ul class="flex flex-col space-y-2 text-white text-lg mt-2.5">
	{%- for location in content.locations -%}
		<li>{{- location -}}</li>
	{%- endfor -%}
</ul>