{%- import '_macros/atoms' as render -%}

{%- set content = content|default('') -%}
{%- set utilities = utilities|default('') -%}

{%- minify -%}

    <div class="container max-w-[80ch] mx-auto py-5 md:py-10 {{ utilities -}}">
        {%- include '_molecules/content/content--prose' ignore missing with {
            content: content,
        } -%}
    </div>

{%- endminify -%}
