{% import '_macros/atoms' as render %}

{%- set container = block.getNext().containerise ??? false -%}
{%- set grid = container ? false : true -%}

{%- minify -%}
    <div class="{{- grid ? 'my-16' : 'mt-16' }} w-full">

        {# TODO set maxwidth breakpoints #}
        <div class="container mx-auto max-w-screen-lg">
            <div class="prose {{ prose ? prose : '' -}}">
                {{- render.atom('text', 'content', { content: content.standfirst }) -}}
            </div>
        </div>

    </div>
{%- endminify -%}
