{% import '_macros/atoms' as render %}

{%- minify -%}
    <div class="flex flex-col my-12 px-4 lg:px-0 lg:mx-16 xl:x-32">
        <div class="prose prose-lg text-lg text-green-900 leading-relaxed md:mr-8">
            {{- render.atom('text', 'content', { content: block.teamMemberSummary }) -}}
        </div>
     </div>
{%- endminify -%}

