{% extends '_boilerplate/_layouts/generic-page-layout.twig' %}

{#
    ### COMPONENTS ###
    ------------------

    ## ORGANISMS

    view--overview-blog: `_organisms/views/view--overview-blog.twig`
    view--overview-projects : `_organisms/views/view--overview-projects.twig`
    view--overview-services : `_organisms/views/view--overview-services.twig`
    view--overview-team : `_organisms/views/view--overview-team.twig`
    view--overview-plugins : `_organisms/views/view--overview-plugins.twig`
#}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}

    {%- if entry ??? null %}

        {%- switch -%}

            {%- case 'blogOverview' -%}
                {%- set component = '_organisms/views/view--overview-blog' -%}

            {%- case 'projectsOverview' -%}
                {%- set component = '_organisms/views/view--overview-projects' -%}

            {%- case 'servicesOverview' -%}
                {%- set component = '_organisms/views/view--overview-services' -%}

            {%- case 'teamOverview' -%}
                {%- set component = '_organisms/views/view--overview-team' -%}

            {%- case 'pluginsOverview' -%}
                {%- set component = '_organisms/views/view--overview-plugins' -%}
                

        {%- endswitch -%}

        {%- include component ignore missing with {
            content: entry,
        } -%}

    {%- endif -%}

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}