<div class="font-primary flex flex-col space-y-2.5 mb-8  text-white text-left">
	<div class="text-3xl font-semibold">
		It’s not a regular newsletter.<br>
		It’s a <span class="text-pink-600">cool</span> newsletter.
	</div>

	<span>Get our quarterly update, dev tips, inspitation and more.</span>
</div>

<form class="w-full">

	<div class="flex items-center">

		<label for="emailAddress" class="sr-only">Email address</label>

		<input type="email" id="emailAddress" required class="appearance-none w-full bg-transparent border-b-2 border-white-100 shadow-sm py-2 text-xl leading-6 text-white focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" placeholder="Email address">
		
		<div class="ml-5">
			<button 
				type="submit" 
				data-tag-category="subscription" 
				data-tag-action="submit" 
				data-tag-label="subscription" 
				class="group relative mt-3 lg:mt-0 float-right lg:float-none block text-right capitalize text-base font-bold border-2 border-blue-600 text-white transition duration-300">
					
				<div class="py-3 px-4 absolute z-10 bg-transparent w-full h-full group-hover:bg-blue-600 group-hover:opacity-10 group-focus:bg-blue-600 group-focus:opacity-20"></div>
				
				<span class="py-3 px-4 relative z-20 flex justify-end items-center">Submit</span>
			</button>
		</div>

	</div>
	

	<div class="flex items-center mt-8 mb-8">
		<input id="comments" type="checkbox" class="form-checkbox h-4 w-4 transition duration-150 ease-in-out">

		<label for="comments" class="ml-3 text-base text-white leading-6">I would like to hear from Percipio about their exciting projects</label>
	</div>

</form>
