<div class="w-full h-screen"
 style="background:rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);"> 
    <div class="px-8 md:px-16 lg:px-32 pt-20 lg:pt-32">
        <div class="pt-16 text-white whitespace-no-wrap font-bold leading-tight text-4xl md:text-5xl lg:text-6xl">
            Building applications<br>for better futures.
        </div>
        <button class="mt-5 md:mt-8 p-4 text-lg bg-transparent hover:bg-red-500 text-white font-semibold hover:text-white border border-white hover:border-transparent rounded">
            What we do
        </button>
    </div>
</div>
