
{%- import '_macros/atoms' as render -%}

{%- minify -%}

	<section class="relative w-full min-h-2/3 flex items-center overflow-hidden">
		<div class="container mx-auto max-w-screen-2xl px-8 2xl:px-0">
			{{- render.atom('text', 'overline', {
					content: content.overline,
					utilities: 'mb-5 font-mono',
				})
			-}}
			
			<h1 class="sr-only">
				{{- seomatic.site.identity.genericName -}}:
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h1>

			<h2 class="font-primary text-3xl lg:text-7xl text-gray-900">
				{{- render.atom('text', 'title', { content: content.heading ??? entry.title }) -}}
			</h2>
		</div>
	</section>

{%- endminify -%}
