<div class="w-full h-screen overflow-hidden relative">
    <div class="px-8 md:px-16 lg:px-32 pt-20 lg:pt-32 relative z-40">
        <div class="pt-16 text-blue-900 whitespace-no-wrap font-bold leading-tight text-4xl md:text-5xl lg:text-6xl">
            Building applications<br>for better futures.
        </div>
        <a href="{{ siteUrl }}projects" title="projects">
            <button class="mt-5 md:mt-8 p-4 text-lg bg-transparent hover:bg-blue-900 text-blue-900 font-semibold hover:text-white border border-blue-900 rounded">
                What we do
            </button>
        </a>
    </div>
</div>
