<div class="w-full h-screen overflow-hidden relative">
    <div class="relative z-30 mt-40 lg:mt-32 px-8 md:px-16 lg:px-32">
        <div class="text-gray-800 font-bold leading-tight text-5xl lg:text-6xl">
            Building applications<br>for better futures.
        </div>
        <a href="{{ siteUrl }}projects" title="projects">
            <button class="mt-5 md:mt-8 p-4 text-lg bg-transparent hover:bg-blue-600 text-gray-800 font-semibold hover:text-white-100 hover:border-transparent border border-gray-800 rounded">
                What we do
            </button>
        </a>
    </div>
    <div class="absolute w-full h-full -bottom-75 md:-bottom-50 lg:-bottom-25 z-20">
        <svg version="1.1" id="Percipio_Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 100 866 1000" xml:space="preserve" preserveAspectRatio="none">
            <path id="P_Section" fill="none" d="M0 559.5l537.7-309.6-104.2-60.2L164.6 345 0 250 433 0l433 250-537.6 309.6 268.5 155L433 809.5z"/>
            <g id="Dark_Group" fill="#1c64f2">
                <path id="Dark_2" d="M433 809.5l163.9-94.9-268.5-155L866 250v500l-433 250z"/>
                <path id="Dark_1" d="M164.6 345v119.7l268.9-154.8V189.7z"/>
            </g>
            <g id="Light_Group" fill="#d61f69">
                <path id="Light_3" d="M433.5 189.7v120.2l104.2-60z"/>
                <path id="Light_2" d="M0 559.5l433 250V1000L0 750z"/>
                <path id="Light_1" d="M0 250l164.6 95v119.7L0 559.5z"/>
            </g>
        </svg>
    <div>
</div>
