{%- import '_macros/atoms' as atom -%}

<div class="w-full h-screen overflow-hidden"
 style="background:rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);"> 
    <div class="px-8 md:px-16 lg:px-32 pt-20 lg:pt-32">
        <div class="pt-16 text-white whitespace-no-wrap font-bold leading-tight text-4xl md:text-5xl lg:text-6xl">
            Building applications<br>for better futures.
        </div>
        <button class="mt-5 md:mt-8 p-4 text-lg bg-transparent hover:bg-red-500 text-white font-semibold hover:text-white border border-white hover:border-transparent rounded">
            What we do
        </button>
    </div>
    <div class="px-16 pt-56 mt-32 md:pt-0 md:mt-56 md:px-32 lg:mt-10 lg:px-40 xl:px-56">
        <svg viewBox="0 0 1229 1388" overflow="visible">
            <defs>
                <pattern id="image" x="0" y="0" height="1" width="1">
                    <image width="1200" height="800"xlink:href="https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"></image>
                </pattern>
            </defs> 
            <path d="M659.843,11.655l522.152,301.458c25.349,14.642,45.895,50.287,45.895,79.505v602.93c0,29.265-20.605,64.89-45.9,79.492L659.836,1376.5c-25.349,14.642-66.5,14.609-91.789,0L45.895,1075.041C20.539,1060.4,0,1024.754,0,995.549V392.612c0-29.265,20.605-64.89,45.895-79.492L568.047,11.661C593.4-2.987,634.547-2.948,659.843,11.655Z" 
            transform="translate(0.5 -0.189)" fill="url(#image)" stroke="white" stroke-width="8" />
        </svg>
    </div>
</div>


