{%- import '_macros/atoms' as atom -%}

{% set hero = content.heroBuilder[0] %}

{%- minify -%}

    <section>
        <div class="absolute w-full h-full top-0 md:-top-10 xl:-top-25 z-20 transform -rotate-10">
            <svg xmlns="http://www.w3.org/2000/svg" className="w-full h-full" viewBox="50 100 280 380" >
                <path fill="#ff5a1f" d="M9 225.2v170.1l382-220V4.7z"/>
            </svg>
        </div>
        <div class="flex mt-40 md:mt-56 lg:mt-64 relative">
            <div class="flex flex-col h-auto justify-center mx-auto p-8 md:p-16 lg:p-0 md:min-w-screen-md md:max-w-screen-md relative z-30">
                <div class="w-full text-white-100 leading-tight text-base md:text-lg font-mono tracking-tighter">
                    <h6>{{- atom.text(hero.overline) -}}</h6>
                </div>
                <div class="w-full text-white-100 font-bold leading-tight text-5xl md:text-6xl tracking-tighter">
                    <h1>{{- atom.text(hero.heroTitle) -}}</h1>
                </div>
                <div class="w-full text-white-100 font-medium leading-tight text-xl md:text-2xl tracking-tight mt-6">
                    <h3>{{- atom.text(hero.description) -}}</h3>
                </div>

                <div v-on:click="scroll('content')" class="hidden md:flex mt-20 lg:mt-32 arrow justify-center">
                    <span class="bg bounce absolute bottom-0 p-1 text-white-100 bg-white-20 hover:bg-white-50 rounded-full transition-colors ease-in-out duration-150">
                        <svg viewBox="0 0 20 20" fill="#fff" class="w-12 h-12">
                            <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </section>

{%- endminify -%}