{% import '_macros/atoms' as render %}

<section class="relative pt-32">

    <div class="container max-w-screen-lg mx-auto py-20">

        <h1 class="sr-only">
            {# TODO: add Global for organisationName #}
            Percipio.London : {{- render.atom('text', 'title', { content: content.heading }) -}}
        </h1>

        <h2 class="font-extrabold leading-tight text-6xl text-gray-800 max-w-2xl">
            {{- render.atom('text', 'title', { content: content.heading }) -}}
        </h2>

        {% if content.description %}
            <div class="max-w-2xl prose-lg mt-12">
                {{- render.atom('text', 'content', { content: content.description }) -}}
            </div>
        {% endif %}

        {{- render.atom('button', 'group', { 
    
            buttons: content.buttons,
            type: 'primary',
            utilities: 'mt-12',
        
        }) -}}

    </div>

</section>
