<div class="px-20 md:px-40 lg:px-56 py-20 lg:py-32 bg-red-500"> 
    <div class="container">
        <div class="text-white whitespace-no-wrap font-bold leading-tight text-4xl md:text-5xl lg:text-6xl">
            Building applications<br>for better futures
        </div>
    </div>
</div>

{# <svg class="" style="transform: rotate(20deg)" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 2034 2124">
    <path d="M71.018,373.349C32.359,395.117.836,448.992.836,493.536V1204c0,44.574,31.423,98.359,70.182,120.188L704.2,1680.971c38.658,21.788,101.6,21.849,140.363,0l633.187-356.784c38.648-21.768,70.172-75.654,70.172-120.188V493.536c0-44.574-31.412-98.359-70.172-120.2L844.568,16.545c-38.648-21.768-101.584-21.839-140.353,0Z">
</svg> #}
