<div class="w-full h-screen"
 style="background:rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);"> 
    <div class="container px-20 md:px-40 lg:px-56 py-20 lg:py-32">
        <div class="text-white whitespace-no-wrap font-bold leading-tight text-4xl md:text-5xl lg:text-6xl">
            Building applications<br>for better futures
        </div>
    </div>
</div>
