{%- extends "_atoms/texts/text--props" -%}

{#
    ### PROPERTIES ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- the specific TW spacing utilities to add
    color: (STR) -- the color of the text
    alignment: (STR) -- the text alignment
#}

{%- block text -%}

    {%- minify -%}
        <div class="prose prose-standfirst-md lg:prose-standfirst my-12 md:my-18 lg:my-32 {{ props.alignment }} {{ props.utilities -}}">
            <p>{{- props.content | typogrify(true) -}}</p>
        </div>
    {%- endminify -%}

{%- endblock -%}
