{%- extends "_atoms/texts/text--props" -%}

{#
    ### PROPERTIES ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- the specific TW spacing utilities to add
    color: (STR) -- the color of the text
    alignment: (STR) -- the text alignment

#}

{%- block text -%}
    {%- minify -%}
        <div class="font-primary text-lg md:text-xl {{ props.color }} {{ props.alignment }} {{ props.utilities -}}">
            {{- props.content | typogrify(true) -}}
        </div>
    {%- endminify -%}
{%- endblock -%}
