{%- extends "_atoms/texts/text--variables" -%}

{#
    ### PROPERTIES ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- the specific TW spacing utilities to add
    color: (STR) -- the color of the text
    alignment: (STR) -- the text alignment
#}

{%- block text -%}

    {%- minify -%}
        <span class="text-pink-500 font-mono text-2xl {{ props.utilities -}}">
            {{- props.content | typogrify(true) | raw -}}
        </span>
    {%- endminify -%}

{%- endblock -%}
