{% extends "_atoms/texts/text--variables" %}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

#}

{% block text %}
    {%- minify -%}
        <div class="text-lg font-bold mb-8">
            {{- values.content | typogrify(true) -}}
        </div>
    {%- endminify -%}
{% endblock %}