{%- extends "_atoms/texts/text--props" -%}

{#
    ### PROPERTIES ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- the specific TW spacing utilities to add
    color: (STR) -- the color of the text
    alignment: (STR) -- the text alignment
#}

{%- set strong = 'prose-strong:text-pink-500 prose-strong:font-normal' -%}

{%- block text -%}

    {%- minify -%}
        <span class="text-{{- props.color }} prose text-2xl md:text-3xl font-medium tracking-tightest {{ strong }} {{ props.utilities -}}">
            {{- props.content | striptags('<strong>') | typogrify(true) | raw -}}
        </span>
    {%- endminify -%}

{%- endblock -%}
