{% extends "_atoms/texts/text--variables" %}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

#}

{% block text %}
    {%- minify -%}
        <h4 class="break-words font-bold mb-3 text-4xl text-white-100">
            {{- values.content | typogrify(true) -}}
        </h4>
    {%- endminify -%}
{% endblock %}
