{% extends "_atoms/texts/text--variables" %}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

#}

{% block text %}
    {%- minify -%}
        <h5 class="break-words text-lg font-secondary leading-relaxed">
            {{- values.content | typogrify(true) -}}
        </h5>
    {%- endminify -%}
{% endblock %}