{% extends "_atoms/texts/text--variables" %}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

#}

{% block text %}
    {%- minify -%}
        <span class="break-words font-mono mb-1 text-sm text-white-100">
            {{- values.content | typogrify(true) -}}
        </span>
    {%- endminify -%}
{% endblock %}
