{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

#}

{% set values = {
    content: options.content ??? '',
} %}

{# Render Title #}

{% spaceless %}
    <h4 class="break-words text-4xl font-bold mb-3">
        {{- values.content | typogrify(true) -}}
    </h4>
{% endspaceless %}
