{% extends "_atoms/texts/text--variables" %}

{# 
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string

    ## ADDED

    words: (INT) -- give the maximum amount of words that can be displayed in the title, default value = 60;

#}

{% block text %}

    {%- minify -%}
        <div class="absolute bottom-0 -right-6 font-extrabold text-white opacity-50 text-150xl leading-number">
            {{- values.content | raw -}}
        </div>
    {%- endminify -%}
    
{% endblock %}

