{# {% extends "_atoms/texts/text--variables" %} #}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- TW utility classes to be applied for the text container, overrides default settings

#}

{% block text %}

    {%- set category = options.category -%}

    {%- minify -%}


        <span class="text-gray-900 break-words text-base font-primary font-bold">
            {{- category | typogrify(true) -}}
        </span>
        
    {%- endminify -%}

{% endblock %}