{% extends "_atoms/texts/text--variables" %}

{#
    ### OPTIONS ###
    ---------------

    content: (STR) -- the actual content as a string
    utilities: (STR) -- TW utility classes to be applied for the text container, overrides default settings
    colour: (STR) -- a colour for the cards title

#}


{% block text %}

    {%- minify -%}
        <h2 class="break-words font-primary font-bold text-3xl text-gray-900 {{ values.utilities }}">
            {{- values.content | typogrify(true) -}}
        </h2>
    {%- endminify -%}
{% endblock %}
