{# -- Layout template for HTML pages -- #}
{#
    ┌─────────────────────────────────────────────────────────────────────────────┐
    │ ┌─────────────────────────────────────────────────────────────────────────┐ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                 content                                 │ │
    │ └─────────────────────────────────────────────────────────────────────────┘ │
    │ ┌─────────────────────────────────────────────────────────────────────────┐ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                               subContent                                │ │
    │ └─────────────────────────────────────────────────────────────────────────┘ │
    │                                                                             │
    │                                  bodyHtml                                   │
    └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{% block entry %}
{% endblock entry %}

{# -- Page body -- #}
{% block bodyHtml %}
    <div id="page-container" class="overflow-hidden leading-tight min-h-screen flex flex-col">

            {# -- Cookie consent -- #}
            {% include "_molecules/notifications/notification--cookie" %}

            {# -- Info header, including _navbar.twig -- #}
            {% include "_organisms/sections/header.twig" %}

            <main class="flex-grow flex flex-col">
                {% block content %}
                {% endblock %}
            </main>

        {# -- Content that appears below the primary content block -- #}
        {% block subcontent %}
        {% endblock %}

        {# -- Info footer -- #}
        {% include "_organisms/sections/footer.twig" %}

        {# -- HTML Footer -- #}
        {% include "_partials/global-footer.twig" %}
    </div>
{% endblock bodyHtml %}
