{%- import '_macros/atoms' as atom -%}

{% set entries = craft.entries.section('blog').relatedTo(category) %}

<div id="content" class="container max-w-screen-hd p-8 mx-auto">
    
    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: entries,
        hasFeatured: false,
    } -%}

</div>