{%- import '_macros/atoms' as render -%}

{% set entries = craft.entries.section('projects').relatedTo(category) %}

{%- include '_organisms/heroes/hero--category' -%}

<div id="content" class="container max-w-screen-xl p-8 mx-auto">

    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: entries,
        hasFeatured: false,
    } -%}

</div>