
/**
 * components/global.css
 *
 * Project-wide styles
 *
 */

html {

    /* -- Font smoothing and ligatures */

    image-rendering: -webkit-optimize-contrast;
    image-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: always;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    
}