.list-hierarchical {
    list-style: none; 
    counter-reset: num;
}

.list-hierarchical li:before {
    content: counter(num) '. ';
    counter-increment: num;
    display: block;
    margin-right: 0.25rem;

}

.list-hierarchical .list-hierarchical li:before {
    content: counters(num, '.') ' ';
}