{% requireLogin %}

{%- include '_organisms/sections/header--handbook' -%}

<div class="container ml-48 flex mt-5.6 mb-24">

    <div class="w-17">
        {%- include '_organisms/navigations/navigation--handbook' -%}
    </div>

    <div class="w-47">

      <div class="ml-28">
            {%- include '_molecules/metas/meta--handbook' -%}

            {%- include '_organisms/builders/content--builder' with {
                content: entry,
                handbook: true,
            } -%}

            {%- include '_molecules/buttons/buttons--pagination' -%}
        </div>
     
    </div>
</div>