{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'teaserImage',
        'blogCategories',
        'authors',
        'authors.teaserImage',
    ])
-%}

	{%- include '_organisms/heroes/hero--main' ignore missing with {
        content: entry,
	} -%}

	{%- include '_organisms/metas/meta--blog' ignore missing with { 
		content: entry,
	} -%}

	{%- include '_organisms/builders/content--builder' with {
        content: entry,
	} -%}

	{% set blogHeading = {
		overline: 'Want to read more?',
		heading: 'Check our blogs out',
		button: null,
	} %}
	
	{%- include '_molecules/headers/header--section' with { 
		content: blogHeading,
		swatch: swatch,
	} %}

	<div class="-mt-8 md:-mt-20">
		{%- include '_organisms/cards/cards--blog' ignore missing with {
			content: entry,
			exclude: true,
            type: 'blog',
        } -%}
	</div>

