{% requireLogin %}

{%- include '_organisms/navigations/navigation--handbook' -%}

<div>
    {%- include '_molecules/metas/meta--handbook' -%}

	{%- include '_organisms/builders/content--builder' with {
        content: entry,
    } -%}
</div>