{%- set entry = entry ??? craft.entries.section('handbook').one() -%}

{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'authors',
        'authors.teaserImage',
    ])
-%}

{% requireLogin %}

{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as functions -%}

{%- include '_organisms/heroes/hero--handbook' with {
    content: entry,
} -%}

<div class="fixed top-0 right-0 m-8 p-3 text-xs font-mono text-white h-6 w-6 rounded-full flex items-center justify-center bg-gray-700 sm:bg-pink-500 md:bg-orange-500 lg:bg-green-500 xl:bg-blue-500">
  <div class="block  sm:hidden md:hidden lg:hidden xl:hidden">al</div>
  <div class="hidden sm:block  md:hidden lg:hidden xl:hidden">sm</div>
  <div class="hidden sm:hidden md:block  lg:hidden xl:hidden">md</div>
  <div class="hidden sm:hidden md:hidden lg:block  xl:hidden">lg</div>
  <div class="hidden sm:hidden md:hidden lg:hidden xl:block">xl</div>
</div>

<div class="container flex mx-auto max-w-screen-2xl mb-24 flex-nowrap lg:flex lg:mt-20">

    <div class="hidden w-96 xl:block">

        {%- include '_organisms/navigations/navigation--handbook' -%}

    </div>


    <div class="w-auto lg:w-2/3">

        {%- if entry.section.type == 'structure' -%}
            {%- include '_molecules/metas/meta--handbook' ignore missing with { 
                content: entry,
            } -%}
        {%- endif -%}

        <div class="container flex max-w-2xl mt-10 space-x-2 text-4xl font-extrabold leading-none md:mt-20 md:text-6xl font-primary">
            <span class="header-section-title">
                <span>
                    {{- render.atom('text', 'title', { content: entry.title }) -}}
                </span>
            </span>
            
        </div>       

        <div class="handbook">
            {%- include '_organisms/builders/content--builder' with {
                content: entry,
            } -%}
        </div>

        {%- include '_molecules/buttons/buttons--pagination' -%}

    </div>

</div>