{%- include '_organisms/heroes/hero--content' ignore missing with {
    content: entry,
} -%}

<div id="content">
    {%- include '_organisms/builders/project--builder' with { 
        content: entry, 
    } -%}
</div>

