{%- include '_organisms/heroes/hero--content' ignore missing with {
    content: entry,
} -%}

<div id="content">
    {%- include '_organisms/builders/content--builder' with { 
        content: entry, 
    } -%}
</div>

{%- set news = craft.entries.section('news').id(['not', entry.id]).with(['teaserImage', 'newsCategory']).all() -%}

<div class="container max-w-screen-xl mx-auto p-8">

    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: news,
    } -%}

</div>