{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'teaserImage'
    ])
-%}

{%- include '_organisms/builders/hero--builder' with {
    content: entry,
} -%}

<div id="content">
    {%- include '_organisms/builders/team--builder' with {
        content: entry,
    } -%}
</div>
