{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'teaserImage',
        'blogCategories',
        'authors',
        'authors.teaserImage',
    ])
-%}

<div>

	{%- include '_organisms/builders/hero--builder' ignore missing with {
        content: entry,
	} -%}

	{%- include '_organisms/metas/meta--blog' ignore missing with { 
		content: entry,
	} -%}

	{%- include '_molecules/headings/heading--blog' ignore missing with {
		content: entry,	
	} -%}

	{%- include '_organisms/builders/content--builder' with {
        content: entry,
	} -%}

	<div class="pb-10 md:pb-24 md:pt-2">
		
		{%- include '_molecules/headers/header--section' with { 
			content: {
				overline: 'Want to read more?',
				heading: 'Check out our blogs',
				button: null,
			},
			swatch: swatch,
		} %}

		<div class="-mt-8 md:-mt-20">
			{%- include '_organisms/cards/cards--blog' ignore missing with {
				content: entry,
				exclude: true,
				limit: 3,
			} -%}
		</div>
		
	</div>

</div>