
{%- include '_organisms/heroes/hero--main' with {
    content: entry,
} -%}

<div class="container mx-auto max-w-screen-lg">
    <div class="ml-auto">
        {%- include '_molecules/buttons/buttons--social' with {
            content: entry,
            utilities: 'justify-end',
        }-%}
    </div>
</div>

<div id="page">
    {%- include '_organisms/builders/content--builder' with {
        content: entry,
    } -%}
</div>