{%- include '_organisms/builders/hero--builder' with {
    content: entry,
} -%}

<div id="content">
    {%- include '_organisms/builders/project--builder' with {
        content: entry,
    } -%}
</div>

