{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'metaImage',
    ])
%}

{%- import '_macros/atoms' as render -%}

{%- include '_organisms/builders/hero--builder' with {
    content: entry,
} -%}

<div id="content">
    <div id="page">
        {%- include '_organisms/cards/cards--projects' ignore missing with {
            content: entry,
            spacing: 0,
        } -%}
    </div>
</div>
