{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'metaImage',
    ])
%}

{%- import '_macros/atoms' as render -%}

{%- include '_organisms/builders/hero--builder' with {
    content: entry,
} -%}

<div id="content" class="container max-w-screen-hd px-8 mx-auto">
    {%- include '_organisms/cards/cards--projects' ignore missing with {
        content: entry,
    } -%}
</div>