{%- set team = craft.entries.section('team')
    .with(['teaserImage', 'teamCategory'])
    .orderBy('postDate desc')
    .all() -%}

{%- include '_organisms/heroes/hero--landing' -%}

<div class="container max-w-screen-hd p-8 mx-auto">

    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: team,
        type: 'team',
    } -%}
</div>