{%- set news = craft.entries.section('news')
    .with(['teaserImage', 'newsCategory'])
    .orderBy('postDate desc')
    .all() -%}

{%- include '_organisms/heroes/hero--landing' -%}

<div id="content" class="container max-w-screen-hd p-8 mx-auto">
    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: news,
        type: 'news',
        hasFeatured: true,
    } -%}
</div>