{%- set team = craft.entries.section('team')
    .with(['teaserImage', 'teamCategory'])
    .orderBy('seniority asc')
    .all() -%}

{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'heroImage'
    ]) 
-%}

{%- include '_organisms/heroes/hero--landing' -%}

<div id="content" class="container max-w-screen-hd px-8 mx-auto">

    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: team,
        type: 'team',
    } -%}
</div>