{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'metaImage',
    ])
%}

<div id="content">
	{%- include '_organisms/builders/hero--builder' with {
        content: entry,
    } -%}

    {%- include '_organisms/builders/content--builder' with {
        content: entry,
    } -%}
</div>