{%- set blog = craft.entries.section('blog')
    .with(['teaserImage', 'blogCategory'])
    .orderBy('postDate desc')
    .all() -%}

{%- include '_organisms/heroes/hero--landing' -%}

<div id="content" class="container max-w-screen-hd p-8 mx-auto">
    {%- include '_organisms/cards/cards--highlight' ignore missing with {
        content: blog,
        type: 'blog',
        hasFeatured: true,
    } -%}
</div>