{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'metaImage',
    ])
%}

<div id="content">
	{%- include '_organisms/builders/hero--builder' with {
        content: entry,
    } -%}

    <div class="mb-24 -mt-24 md:-mt-32">
        {%- include '_organisms/cards/cards--blog' ignore missing with {
            content: entry,
        } -%}
    </div>
</div>