{%- import '_macros/atoms' as render -%}

{%- do craft.eagerBeaver.eagerLoadElements(entry, [
        'heroImage'
    ])
-%}

{%- include '_organisms/builders/hero--builder' with {
    content: entry,
} -%}

<div id="content" class="container max-w-screen-hd px-8 mx-auto">
    {%- include '_organisms/cards/cards--projects' ignore missing with {
        content: projects,
    } -%}
</div>

{%- include '_molecules/footers/footer--clients' %}
