{%- set blog = craft.entries.section('blog')
    .with(['teaserImage', 'blogCategories'])
    .orderBy('postDate desc')
    .all() -%}

<div id="content" class="container max-w-screen-hd p-8 mx-auto">
    {%- include '_organisms/cards/cards--list' ignore missing with {
        content: blog,
        type: 'blog',
    } -%}
</div>
