{%- import '_macros/atoms' as render -%}

{%- minify -%}
    <div class="container mx-auto max-w-screen-lg">
        {# <div class="grid grid-cols-3">
            

        </div> #}

        {{- render.atom('image', 'teaser', {
                image: placeholders.teaserPlaceholder,
                sizes: sizes ??? sizes,
                alt: 'test',
                ratio: 'is4by3 bg-white-100',
                placeholders: placeholders,
            })
        -}}

        {{- render.atom('text', 'card-title', { 
                content: content.title,
                colour: 'gray-900'
            }) 
        -}}

        {{- render.atom('text', 'card-description', { 
                content: content.description,
                colour: 'gray-900'
            }) 
        -}}
    </div>
{%- endminify -%}