{%- import '_macros/atoms' as render -%}
{%- import '_macros/functions' as parse -%}

{%- set size = size ??? 'small' -%}
{%- set category = category ??? null -%}

{%- minify -%}
    <div class="group relative bg-white {{ size == 'large' ? 'lg:col-span-3' : 'lg:col-span-2' -}}">     
        <div class="overflow-hidden">
            {{- render.atom('image', 'teaser', {
                    image: placeholders.teaserPlaceholder,
                    sizes: sizes ??? sizes,
                    alt: 'test',
                    ratio: 'aspect-video',
                    placeholders: placeholders,
                    utilities: 'object-center'
                })
            -}}
        </div>


        <div class="py-6">
            {{- render.atom('text', 'card-title', { 
                    content: content.title,
                    utilities: 'group-hover:text-blue-800'
                }) 
            -}}
            
            {%- include '_molecules/metas/meta--blog' ignore missing with { 
                content: content,
                category: category,
                utilities: 'pt-3'
            } -%}
        </div>

        {{- render.atom('link', 'card', {
                url: content.url,
                title: content.title,
                ga: ga
            })
        -}}
    </div>
{%- endminify -%}