{% import '_macros/atoms' as render %}

{%- set content = content|default(null) -%}
{%- set utilities = utilities|default('') -%}
{%- set teaser = teaser|default(null) -%}

<div class="col-span-2 relative bg-white shadow-2xl rounded-4xl p-6 pb-9 overflow-hidden {{ utilities -}}">

    <div class="relative rounded-[20px] overflow-hidden">
        {%- if teaser -%}
            {{- render.atom('image', 'card-large', {
                    image: content.cardImage.first,
                    sizes: ['66.6vw'],
                    alt: content.title,
                    placeholders: placeholders,
                    utilities: 'w-full'
                })
            -}}
        {%- endif -%}
    </div>

    <div class="space-y-4">
        <h3>
            {{- render.atom('text', 'card-title', {
                content: content.title ??? ''
            }) -}}
        </h3>

        {%- if content.subtitle ??? null -%}
            <h4>
                {{- render.atom('text', 'card-subtitle', {
                    content: content.subtitle ??? ''
                }) -}}
            </h4>
        {%- endif -%}
    </div>

    <div class="bg-pink-500 h-3 absolute bottom-0 left-0 w-full"></div>
</div>
