{#
    ### OPTIONS ###
    ---------------

    buttons: (OBJ) -- Parse in an object that contains all buttons.
    type: (STR) -- Use this to include the type of button we have - defaults to primary.
    utilities: (STR) -- Add utility classes to the group ( optional )
    swatch: (STR) -- add a colour swatch to button

#}

{%- import '_macros/atoms' as render -%}

{%- set values = {
    buttons: options.buttons ??? null,
    type: options.type ??? 'primary',
    utilities: options.utilities ??? null,
    gaCategory: options.gaCategory ??? null,
    gaAction: options.gaAction ??? null,
    gaLabel: options.gaLabel ??? null,
    swatch: options.swatch ??? null,
    inverted: options.inverted ??? false,
} -%}

{%- minify -%}

    <div class="my-4 {{ values.utilities ? values.utilities : '' -}}">
        {%- if values.buttons -%}
            {%- for button in values.buttons -%}
                {{- render.atom('button', values.type, {
                    url: button.target.getUrl(),
                    text: button.target.getText(),
                    target: button.target.getTarget(),
                    gaCategory: values.gaCategory,
                    gaAction: values.gaAction,
                    gaLabel: values.gaLabel ??? button.target.getUrl(),
                    swatch: values.swatch,
                    inverted: values.inverted,
                }) -}}
            {%- endfor -%}
        {%- endif -%}
    </div>

{%- endminify -%}
