{% extends "_atoms/buttons/button--variables" %}

{% block button %}

    {%- minify -%}

        <a {{ values.url ? 'href="' ~ values.url ~ '"': '' }} class="inline-flex {{ values.utility ? values.utility : '' -}}">
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}

