{% extends "_atoms/buttons/button--variables" %}

{% block button %}

    {%- minify -%}

        <a {{ values.url ? 'href="' ~ values.url ~ '"': '' }} class="inline-flex {{ values.utilities ? values.utilities : '' -}}">
            {{- values.text -}}
        </a>

    {%- endminify -%}

{% endblock %}

