.client > a > img {
  transition: transform 0.2s, filter 0.2s;
  filter: brightness(0.1);
  will-change: transform, filter;
  backface-visibility: hidden;
}

.client > a > img:hover {
  transform: scale(1.1);
  filter: brightness(1);
}

.footer-hexagon {
  &::after,
  &::before {
    @apply absolute top-35px block w-4 h-1;
    content: '';
  }
  &::after {
    @apply -left-4 z-0 bg-white-100;
  }
  &::before {
    @apply left-65px bg-white-100;
  }
}
