# Craft general settings
ALLOW_UPDATES=1
ALLOW_ADMIN_CHANGES=1
BACKUP_ON_UPDATE=0
DEV_MODE=1
ENABLE_GRAPHQL_CACHING=0
ENABLE_TEMPLATE_CACHING=0
ENVIRONMENT="dev"
IS_SYSTEM_LIVE=1
MAX_REVISIONS=5
RUN_QUEUE_AUTOMATICALLY=1
SECURITY_KEY="EOdiVBONceb8zFGJP7InMui2pMkvNACz"
SOFT_DELETE_DURATION=2592000

# Craft database settings
DB_DSN=mysql:host=mariadb;port=3306;dbname=project
DB_USER=project
DB_PASSWORD=project
DB_SCHEMA=public
DB_TABLE_PREFIX=

# URL & path settings
ASSETS_URL=http://localhost:8000
SITE_URL=http://localhost:8000
WEB_ROOT_PATH=/var/www/project/cms/web

# S3 settings
S3_KEY_ID=AKIA2SVSD7IJPAWPZMCU
S3_SECRET=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
S3_BUCKET=percipio-site
S3_REGION=eu-west-2
S3_SUBFOLDER=

# CloudFront settings
CLOUDFRONT_URL=https://d138q4p46ztipc.cloudfront.net
CLOUDFRONT_DISTRIBUTION_ID=EASOHV4BT4J60
CLOUDFRONT_PATH_PREFIX=
SERVERLESS_SHARP_CLOUDFRONT_URL=https://dnuzs9ej922bx.cloudfront.net

# Redis settings
REDIS_HOSTNAME=redis
REDIS_PORT=6379
REDIS_DEFAULT_DB=0
REDIS_CRAFT_DB=1

# Email settings
SYSTEM_EMAIL="support@percipio.london"
REPLY_TO=
SENDER_NAME="Percipio.London"

# webpack settings
PUBLIC_PATH=/dist/
DEVSERVER_PUBLIC=http://localhost:8080
DEVSERVER_HOST=0.0.0.0
DEVSERVER_POLL=0
DEVSERVER_PORT=8080
DEVSERVER_HTTPS=0

# Twigpack settings
TWIGPACK_DEV_SERVER_MANIFEST_PATH=http://webpack:8080/
TWIGPACK_DEV_SERVER_PUBLIC_PATH=http://webpack:8080/

# Tracking scripts settings
GA_TRACKING_ID=
TM_TRACKING_ID=
HJ_TRACKING_ID=

# FastCGI Cache Bust settings
FAST_CGI_CACHE_PATH=

# Xdebug Settings
DBGP_IDEKEY=phpstorm