{% import '_macros/atoms' as render %}

{%- set color = entry.colourSwatch ??? "gray" %}

{%- minify -%}
    <div class="flex flex-wrap mb-10 md:mb-24 px-8 xl:-mx-3 text-gray-800">
        {% for trivia in content.triviaItem.all() %}
            <div class="md:px-3 flex w-full md:w-1/{{content.triviaItem|length}} mb-8 md:mb-0">
                <div class="border-b-2 border-{{color}}-800 w-full">
                    <span class="inline-block font-mono text-sm mb-4">
                        {{- render.atom('text', 'content', { content: trivia.triviaItemTitle }) -}}
                    </span>
                    <div class="text-xl leading-snug mb-4 flex-grow">
                        <span>{{- render.atom('text', 'content', { content: trivia.triviaItemDescription }) -}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{%- endminify -%}
