<div class="flex flex-wrap -mx-{{- spacing }} mt-16 mb-32">

    {% for item in grid.items %}

        {%- include '_molecules/griditems/griditem--content' ignore missing with { 
            content: item,
            spacing: spacing,
            prose: prose,
        } -%}

    {% endfor %}

</div>

