{%- extends '_organisms/grids/_grid--props' -%}
{%- import '_macros/atoms' as render -%}


{%- block grid -%}

{%- set props = props|merge({
    organisations: organisations ??? null,
}) -%}

    {%- minify -%}
        <section class="grid grid-cols-3 max-w-screen-lg mx-auto justify-center mb-16">

            {%- for organisation in props.organisations -%}

                {{- render.atom('image', 'logo', {
                        image: organisation.logo.collect().one(),
                        sizes: '',
                        alt: organisation.organisation,
                        placeholders: placeholders,
                        utilities: 'max-h-12 md:max-h-20 px-4'
                    })
                -}}

            {%- endfor -%}

        </section>
    {%- endminify -%}
{%- endblock -%}

