{%- import '_macros/atoms' as render -%}

{%- set items = items|default(null) -%}
{%- set utilities = utilities|default('') -%}

{%- minify -%}
    <section class="py-8 md:py-16 {{ utilities -}}">

        <div class="relative">
            {%- for item in items.gridItems.collect() ??? null -%}

                <div class="container max-w-screen-xl mx-auto">
                    {%- include '_molecules/grid-items/grid-item--content-animation' ignore missing with {
                        item: item,
                        utilities: (not loop.last ? 'mb-5 md:mb-9 lg:mb-12' : ' border-b-0') ~ ' pb-5 md:pb-9 lg:pb-12 w-full md:w-1/3'
                    } -%}
                </div>

                <div class="hidden md:block absolute right-0 top-0 w-[60%] h-full bg-gray-100 rounded-tl-xl rounded-bl-xl">
                    {{ item.image ??? 'image' }}
                </div>

            {%- endfor -%}
        </div>

    </section>
{%- endminify -%}
