{%- import '_macros/atoms' as render -%}


{%- set limit = limit ??? null -%}
{%- set utilities = utilities ??? null -%}
{%- set ga = ga ??? null -%}
{%- set category = category ??? null -%}

{%- set blogs = blogs ??? craft.entries.section('blog')
    .with(['teaserImage', 'blogCategories', 'authors', 'authors.teaserImage'])
    .orderBy('postDate desc')
    .limit(limit)
-%}

{%- set totalBlogs =  blogs|length / limit -%}

{%- paginate blogs as pageInfo, pageEntries -%}


<div class="container mx-auto px-8 2xl:px-0 max-w-screen-2xl">

    <div class="grid grid-cols-1 lg:grid-cols-6 gap-8 mt-10">

        {%- for blog in pageEntries -%}
            {%- include '_molecules/cards/card--blog' ignore missing with {
                content: blog,
                ga: {
                    category: 'card-blog',
                    action: 'click',
                    label: 'Card blog'
                },
                category: category,
                utilities: utilities ??? null,
                size: loop.first or loop.index == 2 ? 'large' : null,
            } -%}
        {%- endfor -%}

    </div>

    <div class="flex items-center justify-center space-x-3">

        {%- if pageInfo.prevUrl %}
            {{- render.atom('button', 'secondary-outline', {
                text: 'Previous',
                url: pageInfo.prevUrl,
                ga: {
                    category: 'navigation',
                    action: 'click',
                    label: 'test'
                },
                icon: {
                    type: 'far fa-long-arrow-left',
                    position: 'left',
                }
            }) -}}
        {%- endif -%}

        {# {{- paginate.pagination(totalBlogs|round, pageInfo.currentPage, 'p') }} #}

        {%- include '_molecules/navigations/navigation--pagination' ignore missing with {
            total: totalBlogs|round,
            current: pageInfo.currentPage,
            url: 'p',
        } -%}

        {%- if pageInfo.nextUrl -%}
            {{- render.atom('button', 'secondary-outline', {
                text: 'Next',
                url: pageInfo.nextUrl,
                ga: {
                    category: 'navigation',
                    action: 'click',
                    label: 'test'
                },
                icon: {
                    type: 'far fa-long-arrow-right',
                }
            }) -}}
        {%- endif -%}
    </div>

</div>