{% import '_macros/atoms' as render %}

<div class="flex flex-col lg:flex-row text-white">
    {% include "_molecules/griditems/griditem--footer" with {
        width: "1/2",
        type: "location",
        title: seomatic.site.identity.genericName ??? branding.organisationName,
    } -%}

    {# {% include "_molecules/griditems/griditem--footer" with {
        width: "1/2",
        type: "subscribe",
        title: "Newsletter",
    } -%} #}
</div>
