{%- minify -%}

    {%- set blockSwatch = swatch(content.swatch) -%}
    {%- set bgLabel = content.swatch.label -%}

    <div class="relative w-full lg:min-h-3/4 flex items-center lg:w-{{- content.width }} bg-{{- blockSwatch.primary -}}">

        {# TODO create seperate templates for 2/3/4/6 based on length #}

        {% switch content.items | length %}

            {% case 2 %}

                {%- include '_molecules/griditems/griditem--grid-two' ignore missing with {
                    content: content,
                } -%}

            {% case 3 %}

                {%- include '_molecules/griditems/griditem--grid-three' ignore missing with {
                    content: content,
                } -%}

            {% case 4 %}

                {%- include '_molecules/griditems/griditem--grid-four' ignore missing with {
                    content: content,
                } -%}

            {% case 6 %}

                {%- include '_molecules/griditems/griditem--grid-six' ignore missing with {
                    content: content,
                } -%}
    

        {% endswitch %}

        
    </div>

{%- endminify -%}