{%- import '_macros/atoms' as render -%}

{%- set options = {
    title: cookie.heading ??? "Cookie",
    privacy: cookie.button.getText() ??? "Detail",
    accept: "Accept all",
    url: cookie.button.getLink() ??? "/privacy-policy",
    colour: swatch.secondary ??? null
} -%}
<notification--cookie :options="{{- options|json_encode -}}" >
	<p class="text-white-100">{{- cookie.article -}}</p>
</notification--cookie>
