{% import '_macros/atoms' as render %}

{%- set heading = heading|default('') -%}
{%- set content = content|default('') -%}
{%- set button = button|default(null) -%}

{%- minify -%}
    <section class="my-12 md:my-32 text-center container max-w-screen-xl mx-auto">
        <h2>{{- render.atom('text', 'h2', { content: heading }) -}}</h2>

        {%- if content -%}
            {{- render.atom('text', 'description', {
                content: content,
                color: 'text-gray-600',
                alignment: 'text-center',
                utilities: 'mt-8'
            }) -}}
        {%- endif -%}

        {%- if button -%}
            {{- render.atom('button', 'primary', {
                url: button.getUrl() ??? null,
                text: button.getText() ??? null,
                target: button.getTarget() ??? '_self',
                icon: 'angle-right',
                ga: {
                    category: 'Call to action',
                    action: 'click',
                    label: button.getUrl() ??? null,
                },
                utilities: 'mt-4 md:mt-8'
            }) -}}
        {%- endif -%}
    </section>
{%- endminify -%}
