{% import '_macros/atoms' as render %}

{%- set heading = heading|default('') -%}
{%- set content = content|default('') -%}
{%- set button = button|default(null) -%}
{%- set background = background|default('white') -%}

{%- minify -%}
    <section class="py-12 md:py-32 bg-{{- background -}}">
        <div class="text-center container max-w-screen-xl mx-auto">
            <h2>{{- render.atom('text', 'h2', {
                content: heading,
                color: background == 'white' ? 'gray-800' : 'white',
            }) -}}</h2>

            {%- if content -%}
                {{- render.atom('text', 'description', {
                    content: content,
                    color: background == 'white' ? 'text-gray-600' : 'text-white',
                    alignment: 'text-center',
                    utilities: 'mt-8'
                }) -}}
            {%- endif -%}

            {%- if button -%}
                {{- render.atom('button', 'primary', {
                    url: button.getUrl() ??? null,
                    text: button.getText() ??? null,
                    target: button.getTarget() ??? '_self',
                    icon: 'angle-right',
                    ga: {
                        category: 'Call to action',
                        action: 'click',
                        label: button.getUrl() ??? null,
                    },
                    utilities: 'mt-4 md:mt-8'
                }) -}}
            {%- endif -%}
        </div>
    </section>
{%- endminify -%}
