{%- import '_macros/atoms' as render -%}

{% set values = {
    authors: options.authors ??? null,
    utilities: options.utilities ??? null,
    colour: options.colour ??? null,
} %}

<div class="flex overflow-hidden">
    {% for author in values.authors %}
        {{- render.atom('avatar', 'single', {
            author: author,
            colour: values.colour,
            utilities: 'inline-block hover:z-2 z-1 ' ~ (not loop.first ? '-ml-3' : ''),
        }) -}}
    {% endfor %}
</div>
