{%- extends '_boilerplate/_layouts/generic-page-layout.twig' -%}
{%- import '_macros/atoms' as render -%}

{%- block headLinks -%}
    {{ parent() }}
{%- endblock headLinks -%}

{%- block content -%}
    {%- include '_organisms/builders/builder--hero' ignore missing with {
        content: entry,
    } -%}

    {%- include '_organisms/builders/builder--content' with {
        content: entry,
    } -%}

{%- endblock -%}

{# -- Any JavaScript that should be included before </body> -- #}
{%- block bodyJs -%}
    {{ parent() }}
{%- endblock bodyJs -%}
