.article {
  h3,
  h4,
  h5,
  h6 {
    @apply text-center text-gray-800 mb-12;
  }

  h3 {
    @apply text-xl font-extrabold leading-loose;
  }

  h4 {
    @apply text-lg font-bold leading-relaxed;
  }

  h5 {
    @apply text-lg font-semibold leading-normal;
  }

  h6 {
    @apply text-base font-semibold;
  }

  p,
  ul,
  ol,
  a {
    @apply text-base leading-loose mx-auto;
  }

  p + p {
    @apply mt-8;
  }

  a {
    @apply text-gray-800 border-b border-gray-800;

    &:hover {
      @apply border-transparent text-gray-700;
    }
  }

  ul,
  ol {
    @apply mt-4;

    li {
      @apply mb-2;
    }
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  strong {
    @apply font-bold;
  }

  span {
    @apply italic;
  }
}

@screen lg {
  .article {
    p,
    a,
    ul,
    ol {
      @apply text-kappa;
    }

    p + p {
      @apply mt-12;
    }
  }
}

@screen sm {
  @apply mx-1;
}

@screen md {
  @apply mx-2;
}

@screen lg {
  @apply text-lg;
}

@screen xl {
  .article {
    p,
    a,
    ul,
    ol {
      @apply text-lg;
    }

    p + p {
      @apply mt-8;
    }
  }
}
