{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'contentBuilder',
    'contentBuilder.highlightCards:cards',
    'contentBuilder.highlightCards:cards.client',
    'contentBuilder.highlightCards:cards.blogCategories',
    'contentBuilder.highlightCards:cards.authors',
    'contentBuilder.highlightCards:cards.projectCategories',
    'contentBuilder.highlightCards:cards.teaserImage',
    'contentBuilder.contentGrid:items',
    'contentBuilder.contentCta',
    'contentBuilder.sectionHeader:buttons',
    'contentBuilder.singleImage:image',
    'contentBuilder.galleryImages:images',
    'contentBuilder.slide:image',
    'contentBuilder.resourceList:resources',
    'contentBuilder.resourceList:resources.target',
    'contentBuilder.media',
    'contentBuilder.media:embed',
    'author.profilePhoto',
    ])
%}

{%- minify -%}

{%- set prevBlock = "" -%}

    <div class="flex flex-wrap md:mb-16">

        {%- for block in content.contentBuilder -%}
            {%- switch block.type -%}

                {%- case "article" -%}

                    {%- if block.containerise -%}

                        {%- include '_molecules/content/content--article' ignore missing with {
                            content: block,
                            prose: currentSite.handle == 'handbook' ? 'md:prose-lg max-w-none prose-handbook' : 'md:prose-2xl',
                        } -%}

                    {%- else -%}

                        {%- include '_molecules/content/content--article-grid' ignore missing with {
                            content: block,
                            prose: 'md:prose-2xl',
                        } -%}

                    {%- endif -%}

                {%- case "blockQuote" -%}

                    {%- if block.containerise -%}

                        {%- include '_molecules/quotes/quotes--block' ignore missing with {
                            content: block,
                            prose: 'md:prose-2xl',
                        } -%}

                    {%- else -%}

                        {%- include '_molecules/quotes/quotes--block-grid' ignore missing with {
                            content: block,
                            prose: 'md:prose-2xl',
                        } -%}

                    {%- endif -%}

                {%- case "contentCta" -%}

                    {%- include '_organisms/content/cta--content' ignore missing with {
                        content: block,
                    } -%}

                {%- case "contentGrid" -%}

                    {%- include '_organisms/grids/grid--content' ignore missing with {
                        grid: block,
                        spacing: 8,
                        prose: 'md:prose-xl',
                    } -%}

                {%- case "sectionHeader" -%}

                    {%- include '_molecules/headers/header--section' ignore missing with {
                        content: block,
                        utilities: loop.last ? 'mb-16' : '',
                    } -%}

                {%- case "basicSlider" -%}

                    {%- include '_molecules/sliders/slider--basic' ignore missing with {
                        content: block,
                    } -%}

                {%- case "singleImage" -%}

                    {%- if block.containerise -%}

                        {%- include '_molecules/images/image--single' ignore missing with {
                            content: block,
                        } -%}

                    {%- else -%}

                        {%- include '_molecules/images/image--single-grid' ignore missing with {
                            content: block,
                            utilities: prevBlock ==  "singleImage" ? ' mb-12 md:mb-0' : '',
                        } -%}

                    {%- endif -%}

                {%- case "standfirst" -%}

                    {%- include '_molecules/content/content--standfirst' ignore missing with {
                        content: block,
                        prose: currentSite.handle == 'handbook' ? 'md:prose-2xl' : 'md:prose-3xl',
                    } -%}

                {%- case "galleryImages" -%}

                    {%- include '_molecules/images/image--gallery' ignore missing with {
                        content: block,
                    } -%}

                {%- case "grid" -%}

                    {%- include '_organisms/grids/grid--builder' ignore missing with {
                        content: block,
                    } -%}

                {%- case "highlightCards" -%}

                    {%- include '_organisms/cards/cards--highlight' ignore missing with {
                        content: block,
                    } -%}

                {%- case "resourceList" -%}

                    {%- include '_organisms/lists/list--resources' ignore missing with {
                        content: block,
                    } -%}

                {%- case "media" -%}

                    {%- include '_molecules/media/media--embed' ignore missing with {
                        content: block,
                    } -%}

                {%- case "code" -%}

                    {%- include '_molecules/codes/code--main' ignore missing with {
                        content: block,
                    } -%}

            {%- endswitch -%}

            {%- set prevBlock = block.type -%}

        {%- endfor -%}
    </div>
{%- endminify -%}
