{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'pageBuilder',
    'pageBuilder.blogHighlightCards:cards',
    'pageBuilder.blogHighlightCards.cards:teaserImage',
    'pageBuilder.blogHighlightCards.cards:blogCategories',
    'pageBuilder.projectHighlightCards:cards',
    'pageBuilder.projectHighlightCards.cards:teaserImage',
    'pageBuilder.projectHighlightCards.cards:projectCategories',
    'pageBuilder.serviceHighlightCards:cards',
    'pageBuilder.serviceHighlightCards.cards:teaserImage',
    'pageBuilder.sectionHeader:buttons',
    'pageBuilder.singleImage:image',
    'pageBuilder.galleryImages:images',
    'pageBuilder.basicSlider:slides',
    'pageBuilder.basicSlider.slides:image',
    ])
%}

{%- minify -%}

<div class="flex flex-wrap">
    {%- for block in content.pageBuilder -%}
        {%- switch block.type -%}

            {%- case "article" -%}

                {%- if block.containerise -%}

                    {%- include '_molecules/content/content--article' ignore missing with {
                        content: block,
                        prose: 'md:prose-2xl',
                    } -%}

                {%- else -%}

                    {%- include '_molecules/content/content--article-grid' ignore missing with {
                        content: block,
                        prose: 'md:prose-2xl',
                    } -%}

                {%- endif -%}

            {%- case "sectionHeader" -%}

                <div class="container mx-auto px-8 xxl:px-0 max-w-screen-lg">
                    {%- include '_molecules/headers/header--section' ignore missing with {
                        content: block,
                        type: 'normal',
                    } -%}
                </div>

            {%- case "singleImage" -%}

                {%- if block.containerise -%}

                    {%- include '_molecules/images/image--single' ignore missing with {
                        content: block,
                    } -%}

                {%- else -%}

                    {%- include '_molecules/images/image--single-grid' ignore missing with {
                        content: block,
                        prose: 'md:prose-2xl',
                    } -%}

                {%- endif -%}


            {%- case "galleryImages" -%}

                <div class="container mx-auto px-8 xxl:px-0 max-w-screen-lg">
                    {%- include '_molecules/images/image--gallery' ignore missing with {
                        content: block,
                    } -%}
                </div>

            {%- case "projectHighlightCards" -%}

                {%- include '_organisms/cards/cards--highlight' ignore missing with {
                    content: block,
                } -%}

            {%- case "blogHighlightCards" -%}

                {%- include '_organisms/cards/cards--blog' ignore missing with {
                    content: block,
                } -%}

            {%- case "serviceHighlightCards" -%}

                {%- include '_organisms/cards/cards--service' ignore missing with {
                    content: block,
                } -%}

            {%- case "spotlightCards" -%}

                {%- include '_organisms/cards/cards--spotlight' ignore missing with {
                    content: block,
                } -%}

        {%- endswitch -%}

    {%- endfor -%}
</div>
{%- endminify -%}
