{% do craft.eagerBeaver.eagerLoadElements(entry, [
    'teamBuilder',
    'projectImage',
    ])
%}

{%- set color = random(['blue', 'red', 'orange', 'purple', 'teal']) -%}

{%- minify -%}
{%- for block in content.teamBuilder -%}

	{%- switch block.type -%}

		{%- case "teamMemberTrivia" -%}
			<div class="container max-w-screen-xl mx-auto">
				{%- include '_molecules/lists/list--team-trivia' ignore missing with {
                    content: block
                } -%}
			</div>

		{%- case "teamMemberDetails" -%}
			<div class="container max-w-screen-xl mx-auto">
				{%- include '_molecules/content/content--team-details' ignore missing with {
                    content: block,
                    categories: content.teamCategories
                } -%}
			</div>

		{%- case "teamMemberProjectImage" -%}

			{%- include '_molecules/images/image--single' ignore missing with {
                    content: block,
                } -%}

	{%- endswitch -%}

{%- endfor -%}
{%- endminify -%}</div>
