{%- minify -%}

	<div class="my-16">
        <div class="container mx-auto max-w-screen-lg">
            <pre class="line-numbers">
                <code class="language-{{- content.codeLanguage -}}">
                    {{- content.code | raw | trim -}}
                </code>
            </pre>
        </div>
    </div>

{%- endminify -%}
