<navigation--main></navigation--main>

{# <button @click="toggleMenu" class="ml-auto">

    <span class="">
        <span class="bg-primary-600 mb-4 block w-12 h-2">

        </span>
        <span class="bg-primary-600 mb-4 block w-12 h-2">

        </span>
    </span>

</button>


<div @click="toggleMenu" class="flex justify-end items-center cursor-pointer h-16 w-16">
    <div class="absolute flex justify-end items-center h-16 w-16 z-40">
        <span :class="navOpen ? 'rotate-45 translate-y-2' : 'rotate-0'" class="{{ entry.type == 'homepage' or entry.type == 'blog' ? 'bg-blue-600' : 'bg-' ~ colour ~ '-600'}} mb-4 relative block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
        <span :class="navOpen ? '-rotate-90 -translate-y-4' : 'rotate-0'" class="{{ entry.type == 'homepage' or entry.type == 'blog' ? 'bg-blue-600' : 'bg-' ~ colour ~ '-600'}} mt-4 relative block transform origin-center w-12 h-2 transition-all duration-200 ease-in-out"/>
    <div>
</div> #}