{% set pages = craft.entries.section('staffHandbook').all() %}

<nav>
    <ul>
        {% nav page in pages %}
            <li>
                {{ page.getLink() }}
                
                {% ifchildren %}
                    <ul>
                        {% children %}
                    </ul>
                {% endifchildren %}
            </li>
        {% endnav %}
    </ul>
</nav>