{%- minify -%}

{%- set handbookPage = craft.entries.section('handbookPage').all() -%}

<ol class="list-hierarchical">

   {%- for entry in handbookPage -%}

      <li>{{- entry.getLink() -}}</li>
      
   {%- endfor -%}

   {%- for entry in craft.entries.section('handbook').level(1).all() -%}
         
      <li>

         {{- entry.getLink()  -}}
   
         {%- if entry.hasDescendants == true -%}
            <ol class="list-hierarchical">
               {%- for child in craft.entries.section('handbook').descendantOf(entry.id).level(2).all() -%}
                  
                  <li>{{- child.getLink()  -}}</li>

                  {%- if child.hasDescendants == true -%}

                     <ol class="list-hierarchical">
                        {%- for grandChild in craft.entries.section('handbook').descendantOf(child.id).level(3).all() -%}
                           
                           <li>{{- grandChild.getLink()  -}}</li>
                        
                        {%- endfor -%}
                     </ol>
                  {%- endif -%}

               {%- endfor -%}
            </ol>
         {%- endif -%}

      </li>
         
   {%- endfor -%}
</ol>
{% endminify %}