{#
    ### OPTIONS ###
    ---------------

    type: (STR) -- type of the svg

#}

{% set values = {
    svg: options.svg ??? options.placeholders.brandingPlaceholder[0],
    type: options.type ??? "logo",
    url: options.url ??? alias('@web') ~ '/',
    title: options.title ?? '',
    style: options.utilities ?? '',
} %}

{# Render Logo #}

{%- minify -%}
	<a href="{{- values.url -}}" class="block relative z-1" title="{{- values.title -}}">
        {{- swatch ? svg(values.svg) : svg(values.svg, sanitize=true)|attr({ class: values.style }) -}}
	</a>
{%- minify -%}
