{% import '_macros/atoms' as render %}

{%- set teaserImage = entry.teaserImage[0] ?? placeholder.teaserPlaceholder[0] -%}

{%- minify -%}
    <div class="flex flex-col justify-center mt-40 mb-12 px-4 lg:px-0 lg:mx-56">
        <div class="mx-auto my-4 h-40 w-40 rounded-full overflow-hidden">
            {{- render.atom('image', 'teaser', { image: teaserImage, alt:teaserImage.title, ratio: 'is2by1'  }) -}}
        </div>
        <div class="text-lg text-green-900 text-center leading-relaxed">
            {{- render.atom('text', 'content', { content: content.bio }) -}}
        </div>
     </div>
{%- endminify -%}