{% import '_macros/atoms' as render %}

{% set image = block.clientLogo[0] ?? placeholder.articlePlaceholder[0] %}

{%- minify -%}
    <div class="my-12 px-4 md:px-4 lg:mx-16 ">
        <div class="flex flex-col md:flex-row items-center text-lg text-green-900 leading-relaxed">
            <div class="w-56 my-4 float-left md:mr-10">
                {{- render.atom('image', 'article', { image: image  }) -}}
            </div>
            {{- render.atom('text', 'content', { content: block.clientDescription }) -}}
        </div>

    </div>
{%- endminify -%}


