{% extends "_atoms/dates/date--variables" %}
{% import '_macros/functions' as function %}

{# 
    ### OPTIONS ###
    ---------------

    date: (DateTime) -- The Date/Time Object to parse
    utlities: (STR) -- the utilities from TW to apply on the container

#}


{% block date %}

    {%- minify -%}
        <span class="{{ values.utilities -}}">
            <strong>Days on the job: </strong>
            <time datetime="">{{- function.total_days(values.date) -}}</time>
        </span>
    {%- endminify -%}

{% endblock %}

