{% import '_macros/atoms' as render %}

<footer class="w-full bg-cool-gray-800 print:hidden">

    {%- include "_molecules/footers/footer--cta" -%}

	{%- if currentSite.handle == 'default' -%}
		{%- include '_molecules/footers/footer--clients' -%}	
	{%- endif -%}

	{%- include '_organisms/content/cta--content' with { 
			content: {
				heading: 'Work with us',
				body: 'We would love to work with you',
				image: placeholders.teaserPlaceholder,
				ratio: '',
				button: {
					url: '/contact-us',
					customText: 'Contact',
				}
			}
		} 
	-%}
	
	<div class="container mx-auto max-w-screen-xl">
		<div class="pt-10 pb-8 md:pt-16">
			{%- include "_organisms/grids/grid--footer" -%}
		</div>

		<div class="text-white-100 text-xs font-mono flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center mx-auto py-6 lg:py-8">
			{% include "_organisms/navigations/navigation--social" with {
				utilities: '-ml-3 lg:ml-10 lg:mr-10 mt-4 lg:mt-0 mb-4 md:mb-0 order-1 md:order-3 flex lg:justify-end',
				wrapperUtilities: 'text-center md:text-right',
				linkUtilities: 'text-white-100 hover:opacity-75'
			} %}

			{% include "_organisms/navigations/navigation--legal" with { utilities: 'mb-3 lg:mx-10 md:mb-0 text-md text-center flex space-x-6 leading-6 order-1 md:order-2' } %}

			<div class="text-md text-center md:text-left flex justify-center md:justify-start leading-6 order-3 md:order-1">
				<p>&copy;
					{{ now|date('Y') }}. Percipio is a Trademark of Percipio Global Ltd</p>
			</div>
		</div>
	</div>

</footer>