{% import '_macros/atoms' as atom %}

{%- minify -%}
  <footer class="text-black w-full">
    <div class="max-w-screen-xxl border-t border-gray-400">
      <div class="text-center text-red-800 pt-10">
        made with ❤️ by Percipio
      </div>
      <div class="flex text-gray-700 justify-center md:justify-around pt-10 pb-20">
          <div class="flex justify-center content-around whitespace-no-wrap w-3/4">
            <div class="flex-col md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Learn
              </div>
              <div class="text-gray-600 leading-relaxed">
                <div>
                    Blog
                </div>
                <div>
                    Twitter
                </div>
                <div>
                    Instagram
                </div>
              </div>
            </div>
            <div class="flex-col md:p-2 mx-6 md:w-1/5">
                <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                    Company
                </div>
                <div class="text-gray-600 leading-relaxed">
                    <div>
                        About
                    </div>
                    <div>
                        Team
                    </div>
                    <div>
                        Vacancies
                    </div>
                </div>
            </div>
            <div class="flex-col md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Work
              </div>
              <div class="text-gray-600 leading-relaxed">
                <div>
                    Web apps
                </div>
                <div>
                    Plugins
                </div>
                <div>
                    Print
                </div>
              </div>
            </div>
            <div class="flex-col md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Contact
              </div>
              <div class="text-gray-600 leading-relaxed">
                <div>
                    Say Hello
                </div>
                <div>
                    Twitter
                </div>
                <div>
                    Github
                </div>
              </div>
            </div>
      </div>
    </div>

    <div class="border-t border-gray-400 px-4 md:px-10 py-8 text-xs text-gray-600">
      <div class="flex items-center justify-between ">
        Copyright 2020. Percipio is a Trademark of Percipio Global Ltd
        <div class="md:flex md:justify-end">
            <div class="md:mx-4">
                Privacy Policy
            </div>
            <div class="md:mx-4">
                Cookies
            </div>
        </div>
      </div>
       
    </div>
    
  </footer>
  {%- endminify -%}
