{% import '_macros/atoms' as atom %}

{%- minify -%}
  <footer class="text-black w-full">
    <div class="max-w-screen-xxl">

      <div class="flex justify-around py-20 bg-green-500">
        
       
          <div class="flex justify-center content-around whitespace-no-wrap w-3/4 bg-red-500">
            <div class="flex-col p-2 mx-6 bg-purple-500">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Learn
              </div>
              <div class="leading-relaxed">
                Blog
              </div>
              <div class="leading-relaxed ">
                Twitter
              </div>
               <div class="leading-relaxed">
                Instagram
              </div>
            </div>
            <div class="flex-col p-2 mx-6 bg-pink-500">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Company
              </div>
              <div class="leading-relaxed">
                Blog
              </div>
              <div class="leading-relaxed ">
                Twitter
              </div>
               <div class="leading-relaxed">
                Instagram
              </div>
            </div>
            <div class="flex-col p-2 mx-6 bg-purple-500">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Work
              </div>
              <div class="leading-relaxed">
                Blog
              </div>
              <div class="leading-relaxed ">
                Twitter
              </div>
               <div class="leading-relaxed">
                Instagram
              </div>
            </div>
            <div class="flex-col p-2 mx-6 bg-pink-500">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Contact
              </div>
              <div class="leading-relaxed">
                Blog
              </div>
              <div class="leading-relaxed ">
                Twitter
              </div>
               <div class="leading-relaxed">
                Instagram
              </div>
            </div>
      </div>
    </div>

    <div class="border-t border-gray-400 px-2 md:px-10 py-8 text-xs text-gray-600">
      <div class="flex items-center justify-between">
        Copyright 2020. Percipio is a Trademark of Percipio Global Ltd
        <div class="flex justify-end">
            <div class="md:mx-4">
                Privacy Policy
            </div>
            <div class="md:mx-4">
                Cookies
            </div>
        </div>
      </div>
       
    </div>
    
  </footer>
  {%- endminify -%}
