{% import '_macros/atoms' as atom %}

  <footer class="text-black w-full">
    <div class="max-w-screen-xxl border-t border-gray-400">
      <div class="text-center font-mono text-red-800 pt-10">
        made with &#9829 by Percipio
      </div>
      <div class="flex text-gray-700 justify-center md:justify-around pt-10 pb-20">
          <div class="flex justify-center content-around whitespace-no-wrap w-3/4">
            <div class="md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Learn
              </div>
              <div class="flex-col text-gray-600 leading-relaxed">
                <a href="" title="" class="flex my-1">
                    Blog
                </a>
                <a href="" title="" class="flex my-1">
                    Twitter
                </a>
                <a href="" title="" class="flex my-1">
                    Instagram
                </a>
              </div>
            </div>
            <div class="md:p-2 mx-6 md:w-1/5">
                <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                    Company
                </div>
                <div class="flex-col text-gray-600 leading-relaxed">
                    <a href="" title="" class="flex my-1">
                        About
                    </a>
                    <a href="" title="" class="flex my-1">
                        Team
                    </a>
                    <a href="" title="" class="flex my-1">
                        Vacancies
                    </a>
                </div>
            </div>
            <div class="md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Work
              </div>
              <div class="flex-col text-gray-600 leading-relaxed">
                <a href="" title="" class="flex my-1">
                    Web apps
                </a>
                <a href="" title="" class="flex my-1">
                    Plugins
                </a>
                <a href="" title="" class="flex my-1">
                    Print
                </a>
              </div>
            </div>
            <div class="md:p-2 mx-6 md:w-1/5">
              <div class="font-bold uppercase mb-6 tracking-wide leading-relaxed">
                Contact
              </div>
              <div class="flex-col text-gray-600 leading-relaxed">
                <a href="" title="" class="flex">
                    Say Hello
                </a>
                <a href="" title="" class="flex">
                    Twitter
                </a>
                <a href="" title="" class="flex">
                    Github
                </a>
              </div>
            </div>
      </div>
    </div>

    <div class="border-t border-gray-400 px-4 md:px-10 py-8 text-xs text-gray-600">
      <div class="flex items-center justify-between ">
        Copyright 2020. Percipio is a Trademark of Percipio Global Ltd
        <div class="md:flex md:justify-end">
            <div class="md:mx-4">
                Privacy Policy
            </div>
            <div class="md:mx-4">
                Cookies
            </div>
        </div>
      </div>
       
    </div>
    
  </footer>
