{% import '_macros/atoms' as render %}

<footer class="w-full bg-cool-gray-800 print:hidden">

	{%- if currentSite.handle == 'default' -%}
		{%- include '_molecules/footers/footer--clients' -%}	
	{%- endif -%}
	
	<div class="container mx-auto max-w-screen-xl px-8 lg:px-0">
		<div class="pt-10 pb-8 md:pt-16">
			{%- include "_organisms/grids/grid--footer" -%}
		</div>

		<div class="text-white text-base font-mono flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:items-center mx-auto py-6 lg:py-8">
			{%- include "_organisms/navigations/navigation--social" with {
				utilities: 'lg:ml-10 order-1 lg:order-3 flex mx-auto md:mx-0 space-x-3',
			} -%}

			{%- include "_organisms/navigations/navigation--legal" with { utilities: 'lg:ml-10 text-md mx-auto md:mx-0 flex space-x-6 order-1 md:order-2' } -%}

			<div class="text-center md:text-left order-3 md:order-1">
				<p>&copy; {{ now|date('Y') }} Percipio is a Trademark of Percipio Global Ltd</p>
			</div>
		</div>
	</div>

</footer>