<div class="navigation z-40  overflow-scroll fixed w-full h-full text-white text-center text-lg"
style="background: rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);">
        <div class="absolute top-0 right-0 pt-6 pr-10 md:pr-32 cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 1792 1792" fill="white"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z"/></svg>
        </div>
        <nav class="flex flex-col items-center justify-center my-8">
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Learn
                </div>
                <div class="my-2">
                    Blog
                </div>
                <div class="my-2">
                    Twitter
                </div>
                <div class="my-2">
                    Instagram
                </div>
            </div>
             <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Company
                </div>
                <div class="my-2">
                    About
                </div>
                <div class="my-2">
                    Team
                </div>
                <div class="my-2">
                    Vacancies
                </div>
            </div>
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Work
                </div>
                <div class="my-2">
                    Web apps
                </div>
                <div class="my-2">
                    Plugins
                </div>
                <div class="my-2">
                    Print
                </div>
            </div>
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Contact
                </div>
                <div class="my-2">
                    Say Hello
                </div>
                <div class="my-2">
                    Twitter
                </div>
                <div class="my-2">
                    Github
                </div>
             </div>
        </nav>
    </div>
</div>