<div class="navigation z-40 fixed w-full h-full top-0 left-0 flex items-center justify-center text-white"
style="background: rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);">
hi
</div>