<div class="navigation z-30 overflow-scroll fixed w-full h-full text-white text-center text-lg"
style="background: rgb(0,6,51); background: linear-gradient(140deg, rgba(0,6,51,1) 0%, rgba(0,2,20,1) 100%);">
        <div class="z-40 absolute top-16 right-16">
        hi
        </div>
        <div class="flex flex-col items-center justify-center my-8">
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Learn
                </div>
                <div class="my-2">
                    Blog
                </div>
                <div class="my-2">
                    Twitter
                </div>
                <div class="my-2">
                    Instagram
                </div>
            </div>
             <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Company
                </div>
                <div class="my-2">
                    About
                </div>
                <div class="my-2">
                    Team
                </div>
                <div class="my-2">
                    Vacancies
                </div>
            </div>
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Work
                </div>
                <div class="my-2">
                    Web apps
                </div>
                <div class="my-2">
                    Plugins
                </div>
                <div class="my-2">
                    Print
                </div>
            </div>
            <div class="my-8">
                <div class="uppercase font-bold my-4 tracking-wide">
                    Contact
                </div>
                <div class="my-2">
                    Say Hello
                </div>
                <div class="my-2">
                    Twitter
                </div>
                <div class="my-2">
                    Github
                </div>
             </div>
        </div>
    </div>
</div>